body{
    font-family: helvetica, arial;
}

a{
    text-decoration: none;
    color: #00759e
}

.game-header{
    font-size: 80%;
}

.game-header > a >h1{
    
}

.game-header>h1{
    background-color: grey;
    color: white;
}

.game-header > a >h1, .game-header>h1{
    padding: .5em;
}

.game-content > div > h2{
    font-style: italic;
    font-size: 0.9em;
    color: gray;
}

#account-details{
    background-color: gray;
    color:black;
}


@media (max-width:500px)
{
    .game-content table.two-column-stats{
        
        font-size: .85em;
        width:100%;
/*        background-color: red;*/
    }
    
    .two-column-stats{
        table-layout: fixed;
    }
    
    .game-header>h1{
    background-color: teal;
    color: white;

    }
    
    .game-content {
        width:80%;
    }
    #game-navigation{
        width:15%;
    }
    #resource-bar{
        position:fixed;
        width:100%;
        top:40px;
        left:0px;
        font-size:0.85em;
    }
    #resource-bar >tr{
        padding-left:2px
    }
    #right-column,footer{
        display:none;
    }
    #middle>div:last-of-type{
        display:none;
    }
    #inner-container{
        width:100%;
        margin-top:0px;
    }
    #left-column{
        width:100%;
        margin-top: 70px
    }
    .game-header{
        width:82%;
    }
    #header,#resource-bar{
        width:100%;
        background-color: #00171e;
        color:white;
    }
    #header-navigation{
        left:0px;
        padding:6px; 
        position: fixed;
    }
    #game-navigation div{
        padding-bottom: 10px;
    }
    #header{
        position:fixed;
        background-color: #00171e;
        z-index: 1000;
        height:40px;
    }
    
    .navigation{
        padding:0px;
    }
    #left-column > div:first-of-type{
        display:none;
    }
    #footer{
        width:100%;
    }
    .account-name{
        float:right;
    }
    .game-header h1{
        font-size: .91em;
    }
    .game-content >.reportable> table.mail-view{
        width:100%;
    }
    .game-content table.mail-view tr>th:first-of-type,.game-content table.mail-view tr>td:first-of-type{
        width:25%;
        padding-right: 5px;
    } 
    .game-content table.mail-view tr>th, .game-content table.mail-view tr>td{
        width:75%;
        padding-right: 5px;
    } 
    .game-content table.mail-view tr>td >p{
        padding:0;
    }
    #content-area{
        padding-left: 5px;
    }
    
    .reportable{
        width:100%;
    }
    
    .game-content form > .mail-view{
        width:100%;
    }
    
    .game-content > form > table.mail-view th{
        width:0px;
    }
    .game-content > form > .mail-view td{
        width:100%;
    }
}