body{
    font-family: helvetica, arial;
    background-color: #ededed;
}

a{
    text-decoration: none;
    color: #00759e
}

.game-header{
    font-size: 80%;
}

.game-header > a >h1{
    
}

.game-header>h1{
    background-color: grey;
    color: white;
}

.game-header > a >h1, .game-header>h1{
    padding: .5em;
}

.game-content > div > h2{
    font-style: italic;
    font-size: 0.9em;
    color: #49495f;
}

#account-details{
    background-color: gray;
    color:black;
}

.game-content table.mail-view tr.odd{
        background-color: #cacaca;
    }

.good{
    background-color:  #00c24b;
    color: white;
}

.bad{
    background-color: #dc322f;
    color: white;
}

.game-content form.change-kingdom .change-kingdom-form input[type=text]{
    width: 20px;
}

table>tbody>tr{
    border-bottom: 1px dashed lightblue;
}

@media (max-width:2000px)
{
    .game-content table.two-column-stats{
        
        font-size: .85em;
        width:100%;
/*        background-color: red;*/
    }
    
    .two-column-stats{
        table-layout: fixed;
    }
    
    .game-header>h1{
    background-color: #b1b1b1;
    color: #49495f;

    }
    
    .game-content {
        width:80%;
    }
    #game-navigation{
        width:15%;
        border-bottom: 1px;
        border-bottom-color: #49495f;
        margin-top: 31px;
    }
    #resource-bar{
        position:fixed;
        width:100%;
        top:40px;
        left:0px;
        font-size:0.85em;
    }
    #resource-bar >tr{
        padding-left:2px
    }
    
    #ircchat{
        top: 83px; 
        position: relative;
    }
    #toggler{
        left: 114px !important;
        top: 85px !important;
    }
    #botlinks, #botupdate{
        left: 42px !important;
        top: 100px !important;
    }
    #botupdate{
        margin-top: 28px !important;
        margin-left: 28.5px !important;
    }
    #overlay{
        z-index: 1 !important;
        float: none !important;
        width:100% !important;
    }
    #right-column,footer{
        display:none;
    }
    #middle>div:last-of-type{
        display:none;
    }
    #inner-container{
        width:100%;
        margin-top:0px;
    }
    #left-column{
        width:100%;
        margin-top: 100px;
    }
    .game-header{
        width:82%;
    }
    #header,#resource-bar{
        width:100%;
        background-color: #b1b1b1;
        color:#49495f;
        z-index: 2;
    }
    #header-navigation{
        left:0px;
        padding:6px; 
        position: fixed;
    }
    #game-navigation div{
        padding-bottom: 10px;
    }
    #header{
        position:fixed;
        background-color: #b1b1b1;
        z-index: 1000;
        height:40px;
    }
    
    .navigation{
        padding:0px;
    }
    #left-column > div:first-of-type{
        display:none;
    }
    #footer{
        width:100%;
    }
    .account-name{
        float:right;
    }
    .game-header h1{
        font-size: .91em;
    }
    .game-content >.reportable> table.mail-view{
        width:100%;
    }
    .game-content table.mail-view tr>th:first-of-type,.game-content table.mail-view tr>td:first-of-type{
        width:25%;
        padding-right: 5px;
    } 
    .game-content table.mail-view tr>th, .game-content table.mail-view tr>td{
        width:75%;
        padding-right: 5px;
    } 
    .game-content table.mail-view tr>td >p{
        padding:0;
        white-space: pre-wrap;
    }
    #content-area{
        padding-left: 5px;
    }
    
    .reportable{
        width:100%;
    }
    
    .game-content form > .mail-view{
        width:100%;
    }
    
    .game-content > form > table.mail-view >tbody>tr> th:first-of-type{
        width:0px;
    }
    .game-content > form > table.mail-view >tbody>tr> td:first-of-type{
        width:100%;
    }
    table tr td input[type=text]{
        width:50px;
        
    }
    
    #id_subject{
        width: 200px;
    }
  
    form input[type=submit], table tr td input[type=submit] {
        background-color:#dfdfdf;
        padding: 10px;
        border-radius: 3px;
        border:1px;
        margin: 0px;
        border-color: #909090;
        border-style: solid
    }
    .change-kingdom.change-kingdom-target{
        min-height: 60px;
        border-bottom: 1px;
        border-style: solid;
        border-color: #909090;
    }
    
    .game-content form.change-kingdom .change-kingdom-form{
        position:relative;
        width: 100%;
    }
}
